| Hi admin,
|
| You have received a contact form submission. Here are the details:
|
| User's Full name:
| #{fullName}
|
| User's Email:
| #{email}
|
| Message:
| #{message}
|
| Thanks,
| Top Prop Team
