| Hi #{user.fullName},
|
| Welcome to Top Prop.
|
if socialLogin
  |
  | Continue exploring the web app and don't forget to add some funds!
  |
else
  |
  | Continue exploring the web app and don't forget to add some funds!
  |
|
| Thanks,
| Top Prop Team
